*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;

}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */


.img-container{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #F4F4F4;
    margin: auto;
    display: block;
    overflow: hidden;
}

.profile-img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

/* text color = #707070
semi-white = #EDEDED */
nav{
    background-color: #ffffff;
    justify-content: center;
    padding: 30px 0px;
    display: flex;
}
nav a{
    text-decoration: none;
    color: #4A4646;
    padding: 10px;
    font-size: 18px;
    font-weight:300;
}

nav a:hover{
    color: #599CBF;
}


#profile-container{
    display: flex;
}
.profile-div{
    flex: 1;
    padding: 80px;
    text-align: center;
}


#project-div{
    padding-top: 50px;
}

#profile-desc{
    font-size: 16px;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 80px;
    letter-spacing: 1px;
    line-height: 1.5;

}

#project-id{
    text-align: left;
}
#profile-id > h4{
    padding-top: 40px;
   
    letter-spacing: 1px;
    font-size: 24px;
}
.project-list{
    list-style-type: none;
     padding: 10px 0px 10px 0px;
     
}.project-list li{
    padding: 10px 0px 10px 0px;
}
.project-list  a{
    list-style: none;
    color: #4A4646;
    text-decoration: none;
}
.project-list a:hover{
    color: #599CBF;
}


.social-list{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-list li {
    display: inline-block;
    text-decoration: none;
   
    

}
.social-list li a:hover{
    color: #599CBF;
}
.social-list li a{
    text-decoration: none;
    color:#599CBF;
   
}
.social-icon:hover {
    color: #599CBF !important;
}

#copyright-link{
    text-decoration: none;
    color: #4A4646;
    letter-spacing: 1px;
}
#copyright-link:hover{
    color: #599CBF;
}


#post-container{
    display: flex;
   
}

.post-content-box{
    flex: content;
}
.post-content-box > p{
    padding-top: 10px;
    padding-bottom: 20px;
}
#post-date{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}
#post-title{
    font-size: 24px;
    letter-spacing: 1px;
}
.post-content-box > h4{
    padding-top: 10px;
   
}
#post-desc{
    letter-spacing: 1px;
    line-height: 1.5;
}
#blog-div{
    padding-top: 100px;
    
}
#blog-div > h3{
    padding-bottom: 20px;
}
#blog-img-box{
    width: 250px;
    height: 150px;
    padding-right: 20px;
}
.blog-img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

#read-btn{
    background: transparent;
    color: #4A4646;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
#read-btn:hover{
    color: #599CBF;
}
.social-icon{
    font-size: 24px;
    color: #4A4646;
}